<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoodleSpeak - Let's Play!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <!-- Your content here -->
    <!-- The overlay screen -->
    <div id="overlay" class="overlay d-flex bg-light h-100 w-100 position-fixed top-0 start-0">
        <div class="text-center w-100">
            <nav class="navbar navbar-expand-lg navbar-light bg-light position-absolute top-0 w-100 my-2">
                <div class="w-100 px-3">
                    <div class="w-100">
                        <div class="col text-center">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <p class="badge rounded-pill text-dark m-0 text-center fs-5 fw-normal mx-auto"
                                    style="background-color: rgba(108, 117, 125, 0.1);">
                                    Drawing <span id="round-number">1</span>/6
                                </p>
                                <button id="exit-button" class="btn btn-lg position-absolute top-0 end-0 mx-2"
                                    onclick="window.location.href=`{% url 'game_index' %}`">
                                    <i class="fas fa-times text-dark"></i>
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <p>Draw</p>
                <h1 class="display-6 text-center py-2 mb-3 bg-white text-primary w-100">Wine Bottle</h1>
                <p>In under 20 seconds</p>
                <button id="start-button" class="btn btn-lg btn-primary">Got it !</button>
               
                <form method="post" action="{% url 'add_word' %}">
                    {% csrf_token %}
                    <input type="hidden" name="word" value="test_word">
                    <button type="submit">Add a Word</button>
                </form>
            </div>
        </div>
    </div>

    <!-- The game controls -->
    <nav id="game-controls" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="w-100 px-3">
            <div class="w-100">
                <div class="col text-center">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="d-flex flex-row align-items-center me-auto">
                            <div class="d-inline-flex position-absolute top-0 start-0 m-2">
                                <button id="erase-button" class="btn btn-outline-dark me-2">
                                    <i class="fas fa-eraser"></i>
                                </button>
                                <button id="pass-button" class="btn btn-outline-dark me-2">
                                    <i class="fas fa-forward"></i>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center w-100">
                            <div id="timer" class="p-2 border rounded bg-white" style="min-width: 8rem;">00:20</div>
                        </div>
                        <button id="exit-button" class="btn btn-lg position-absolute top-0 end-0 m-2"
                            onclick="window.location.href='/'">
                            <i class="fas fa-times text-dark"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="w-100">
                <div class="container text-center">
                    <h1 class="display-6 text-primary text-center py-2 m-0">Wine Bottle</h1>
                    <ul id="ai-guesses" class="list-group"></ul>
                    <div class="speech-bubble-wrapper position-relative d-flex justify-content-center">
                        <div class="speech-bubble rounded bg-white p-2 shadow-sm w-100">
                            <p class="m-0">I see <span class="badge text-dark fw-normal"
                                    style="background-color: rgba(108, 117, 125, 0.1);">Box</span> <span
                                    class="badge text-dark fw-normal"
                                    style="background-color: rgba(108, 117, 125, 0.1);">Skyscraper</span> <span
                                    class="badge text-dark fw-normal"
                                    style="background-color: rgba(108, 117, 125, 0.1);">Bottle</span></p>
                        </div>
                        <i class="fas fa-caret-left position-absolute text-white fa-2x ms-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="col-12 mt-0">
        <div class="col text-center">
            <canvas id="drawing-canvas" class="w-100 border-0"></canvas>
        </div>
    </div>

    <!-- The results summary -->
    <div id="results-summary" class="container-fluid d-flex justify-content-center align-items-center bg-light h-100 w-100 position-fixed top-0 start-0 px-0 hide">
        <div class="container w-100 justify-content-center align-items-center flex-column flex-md-row">
            <div class="col-12 text-center">
                <h2>Well drawn, Shari!</h2>
                <p>We recognized 5 out of 6 of your doodles! But it thought something else for one of them.</p>

                <div class="row overflow-auto flex-nowrap mb-3">
                    <div class="col-7 col-md-4 col-lg-2">
                        <div class="card h-100 bg-white shadow-sm border-0 rounded-4">
                            <img src="{% static 'images/Doodle.png' %}" class="card-img-top p-3" alt="Doodle 1">
                            <div class="card-body text-center">
                                <p class="card-title badge rounded-pill text-dark position-absolute top-0 start-0 m-2 fw-normal" style="background-color: rgba(108, 117, 125, 0.1);">1/6</p>
                                <p class="card-text position-absolute bottom-0 start-50 translate-middle-x mb-2 px-2 fw-normal w-100">✅ Wine Bottle</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-md-4 col-lg-2">
                        <div class="card h-100 bg-white shadow-sm border-0 rounded-4">
                            <img src="{% static 'images/Doodle.png' %}" class="card-img-top p-3 rounded-3" alt="Doodle 2">
                            <div class="card-body text-center">
                                <p class="card-title badge rounded-pill text-dark position-absolute top-0 start-0 m-2 fw-normal" style="background-color: rgba(108, 117, 125, 0.1);">2/6</p>
                                <p class="card-text position-absolute bottom-0 start-50 translate-middle-x mb-2 px-2 fw-normal w-100">❌ Kangaroo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-md-4 col-lg-2">
                        <div class="card h-100 bg-white shadow-sm border-0 rounded-4">
                            <img src="{% static 'images/Doodle.png' %}" class="card-img-top p-3" alt="Doodle 3">
                            <div class="card-body text-center">
                                <p class="card-title badge rounded-pill text-dark position-absolute top-0 start-0 m-2 fw-normal" style="background-color: rgba(108, 117, 125, 0.1);">3/6</p>
                                <p class="card-text position-absolute bottom-0 start-50 translate-middle-x mb-2 px-2 fw-normal w-100">✅ Tree</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-md-4 col-lg-2">
                        <div class="card h-100 bg-white shadow-sm border-0 rounded-4">
                            <img src="{% static 'images/Doodle.png' %}" class="card-img-top p-3" alt="Doodle 4">
                            <div class="card-body text-center">
                                <p class="card-title badge rounded-pill text-dark position-absolute top-0 start-0 m-2 fw-normal" style="background-color: rgba(108, 117, 125, 0.1);">4/6</p>
                                <p class="card-text position-absolute bottom-0 start-50 translate-middle-x mb-2 px-2 fw-normal w-100">✅ House</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-md-4 col-lg-2">
                        <div class="card h-100 bg-white shadow-sm border-0 rounded-4">
                            <img src="{% static 'images/Doodle.png' %}" class="card-img-top p-3" alt="Doodle 5">
                            <div class="card-body text-center">
                                <p class="card-title badge rounded-pill text-dark position-absolute top-0 start-0 m-2 fw-normal" style="background-color: rgba(108, 117, 125, 0.1);">5/6</p>
                                <p class="card-text position-absolute bottom-0 start-50 translate-middle-x mb-2 px-2 fw-normal w-100">✅ Car</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-md-4 col-lg-2">
                        <div class="card h-100 bg-white shadow-sm border-0 rounded-4">
                            <img src="{% static 'images/Doodle.png' %}" class="card-img-top p-3" alt="Doodle 6">
                            <div class="card-body text-center">
                                <p class="card-title badge rounded-pill text-dark position-absolute top-0 start-0 m-2 fw-normal" style="background-color: rgba(108, 117, 125, 0.1);">6/6</p>
                                <p class="card-text position-absolute bottom-0 start-50 translate-middle-x mb-2 px-2 fw-normal w-100">❌ Elephant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="save-progress-button" class="btn btn-lg btn-primary m-2">
                    Save My Progress <i class="fas fa-arrow-right"></i>
                </button>
                <button id="play-again-button" class="btn btn-lg btn-outline-primary m-2">
                    <i class="fas fa-redo-alt"></i> Play Again
                </button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

    <script>
        document.getElementById('start-button').addEventListener('click', function () {
            document.getElementById('overlay').style.display = 'none';
            let timeLeft = 20;
            const timerElement = document.getElementById('timer');
            const countdown = setInterval(function () {
                if (timeLeft <= 0) {
                    clearInterval(countdown);
                    timerElement.innerHTML = 'Time\'s up!';
                    const resultsSummary = document.getElementById('results-summary');
                    resultsSummary.classList.remove('hide');
                    resultsSummary.classList.add('show');
                } else {
                    let minutes = Math.floor(timeLeft / 60);
                    let seconds = timeLeft % 60;
                    timerElement.innerHTML =
                        `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                    if (timeLeft <= 10) {
                        timerElement.classList.add('text-danger');
                    } else {
                        timerElement.classList.remove('text-danger');
                    }
                }
                timeLeft -= 1;
            }, 1000);
        });

        document.getElementById('start-button').addEventListener('click', function () {
            document.getElementById('overlay').classList.add('hide');
        });

        // Adjust canvas height and width based on game-controls width and navbar height
        function adjustCanvasSize() {
            const navbarHeight = document.querySelector('nav.navbar').offsetHeight;
            const gameControlsHeight = document.getElementById('game-controls').offsetHeight;
            const canvas = document.getElementById('drawing-canvas');
            const canvasContainer = canvas.parentElement;

            // Set the canvas width and height to match the container
            canvas.width = canvasContainer.clientWidth;
            canvas.height = window.innerHeight - gameControlsHeight - navbarHeight;
        }

        // Adjust canvas size on window resize
        window.addEventListener('resize', adjustCanvasSize);

        // Adjust canvas size on initial load
        window.addEventListener('load', adjustCanvasSize);

        // Drawing functionality
        const canvas = document.getElementById('drawing-canvas');
        const ctx = canvas.getContext('2d');
        let painting = false;
        const brushSize = 5; // Fixed brush size
        const brushColor = getComputedStyle(document.documentElement).getPropertyValue('--bs-primary').trim(); // Fixed brush color

        function startPosition(e) {
            painting = true;
            draw(e);
        }

        function endPosition() {
            painting = false;
            ctx.beginPath();
        }

        function draw(e) {
            if (!painting) return;
            ctx.lineWidth = brushSize;
            ctx.lineCap = 'round';
            ctx.strokeStyle = brushColor;

            ctx.lineTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(e.clientX - canvas.offsetLeft, e.clientY - canvas.offsetTop);
        }

        canvas.addEventListener('mousedown', startPosition);
        canvas.addEventListener('mouseup', endPosition);
        canvas.addEventListener('mousemove', draw);

        // Clear canvas functionality
        document.getElementById('erase-button').addEventListener('click', function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        });
    </script>
</body>

</html>