<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/dashboard/">
            <img src="/static/images/Logo.svg" alt="Logo" style="height: 30px; margin-right: 8px;">
            <span style="font-weight: bold; color: var(--dark-gray);">DoodleSpeak</span>
        </a>
        <div class="justify-content-end" id="navbarNav">
            <a href="/account/" class="btn btn-outline-primary d-flex align-items-center">
                <div style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; margin-left: 5px;">Sign in <i class="fas fa-arrow-right"></i></div>
            </a>
        </div>
    </div>
</nav>
